body{background-color: darkslategray;background-image: url(/images/wallhaven-586266.2017-12-27.09-09-37.jpg);background-position-x: 10%;background-position-y: 5%; background-blend-mode: overlay;}
table,tr,td{border-spacing: 1pt;border-bottom: 10pt;text-align: center;}
#td1{background-color: rgb(214, 209, 209);font-family: Verdana, Geneva, Tahoma, sans-serif;}
th{font-family: cursive;}
#span2{color: turquoise;}
#span3{color: rgb(63, 97, 97);}
#span4{color: gold;font-weight: 900;font-style: italic;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
#ins2{color: turquoise;}

