{% extends "manager.html" %}
{% block navtitle %}
{% if current_user.is_authenticated and current_user.designation=="Admin" %}
<style>
  input{border: none;
    text-align: center;
    font-size: larger;
    color: aqua;
    background: rgb(54, 54, 53);
    outline: none;font-family: sans-serif;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  a{text-decoration: none; font-family:  sans-serif;font-weight: bolder; color: rgb(172, 8, 8);}
  a:hover{background-color:rgb(80, 79, 75); border-radius: 5px; color: rgb(172, 8, 8);}
  form{
    display: flex;flex-wrap: wrap;flex-direction: column;
    justify-content: center;
  }
  form .modal-footer{
    justify-content: space-between;
  }  
</style>
<h2>
    USERS
    <!-- <i class="fas fa-bars"></i> -->
    <box-icon name="user" color="red" border="circle" size="md"></box-icon>
    <!-- <a href="#" ><i class="fa-brands fa-whatsapp"></i></a> -->
</h2>  
<div class="col-sm-4">

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}  align-items-center alert-dismissible fade show" role="alert">
        <span>{{message}}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>           
      {% endfor%}
    {% endif %}
  {% endwith %}
</div>      
<div class="top">
  <a class="navbar " id="lin1" href="admin">Home</a>
</div>
{% elif current_user.is_authenticated and current_user.designation=="Manager" %}
<div class="top">
  <a href="manager">Home</a>
</div>
{% else%}
<div class="top">
  <a href="user">Home</a>
</div>
{% endif %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
{% if current_user.is_authenticated and current_user.designation=="Admin" %}
<style>
  input{border: none;
    text-align: center;
    font-size: larger;
    color: aqua;
    background: rgb(54, 54, 53);
    outline: none;font-family: sans-serif;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  a{text-decoration: none; font-family:  sans-serif;font-weight: bolder; color: rgb(172, 8, 8);}
  a:hover{background-color:rgb(80, 79, 75); border-radius: 5px; color: rgb(172, 8, 8);}
  form{
    display: flex;flex-wrap: wrap;flex-direction: column;
    justify-content: center;
  }
  form .modal-footer{
    justify-content: space-between;
  } 
  .card{
      width: 48%;display: flex;flex-wrap: wrap;flex-direction: row;
    margin: .2rem 0px;
}
  .card-body{
    display: flex;flex-direction: column; justify-content: center;text-align: center;
  }
  #card1{
    border: none;border-left: 1px solid rgb(46, 43, 43);border-top: 1px solid rgb(46, 43, 43);
    border-radius: 0px; border-top-left-radius: 4px;  
  }
  #card2{
    border: none;border-right: 1px solid rgb(46, 43, 43);border-top: 1px solid rgb(46, 43, 43);
    border-radius: 0px; border-top-right-radius: 4px;  
  }
  #card3{
    border: none;border-radius: 5px; border-bottom: 1px solid rgb(46, 43, 43);
  }
  form .form-check{
    display: flex;flex-wrap: wrap;flex-direction: column;
    justify-content: center; align-items: center;
  }
</style>
<div class="col col-lg-12 col-md-12 col-sm12" style="margin-top: 14%;">        
  <div class="row text-warning">        
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email Address</th>
          <th>Phone Number</th>
          <th>Designation</th>
          <th>Employee ID</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users  %}
         <tr>
          <td>{{user.lname}} {{user.fname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.tel}}</td>
          <td>{{user.designation}}</td>
          <td>{{user.e_id}}</td>
         <td>
           <a  style="color: darkcyan;" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#bookModal{{user.id}}">View</a>           
             <!-- Modal -->
             <div class="modal fade" id="bookModal{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="background: rgb(54, 54, 53);">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Authenticate User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                  <form action="view" method="POST">
                    <div class="mb-3">
                      <input type="hidden" name="id" value="{{user.id}}" class="form-control" id="Item">
                    </div>
                    <div class="mb-3">
                      <input type="hidden" name="usr"  value="{{current_user.uname}}" class="form-control" id="Item">
                    </div>
                    <label for="Item" class="form-label"><strong>Name</strong></label>
                    <div class="mb-3">
                      <input type="text" name="name" disabled  value="{{user.fname}}  {{user.lname}}" class="form-control" id="Item">
                    </div>
                    <div class="mb-3">
                      <input type="hidden" name="desg" value="{{user.designation}}" class="form-control" id="Item">
                    </div>
                    <label for="Item" class="form-label"><strong>Designation</strong></label>
                    <div class="mb-3">
                      <input type="text" disabled value="{{user.designation}}" class="form-control" id="Item">
                    </div>
                    <div class="mb-3">
                      <label for="Item" class="form-label"><strong>Password</strong></label>
                      <input type="password" name="passw"  class="form-control" id="Item">
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">View</button>
                  </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
         </td>
         <td>
           <a  style="color: darkcyan;" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editModal{{user.id}}"><img src="/static/download.png" alt="" srcset=""></a>
             <!-- Modal -->
          <div class="modal fade" id="editModal{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style=" padding:5px; background-color: rgb(125, 129, 120);">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Edit Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>                                 
                        <form action="edit4" style="text-align: center ;" method="post" class="pop">                                                                                 
                          <div class="mb-3">
                            <!-- <label for="Item" class="form-label"></label> -->
                            <input type="hidden"    name="id" value="{{user.id}}" class="form-control" id="Item">
                          </div>  
                          <!-- <div class="mb-3">
                            <label for="Item" class="form-label"><strong>Full Name</strong> </label>
                            <input type="hidden"  name="fname" value="{{user.name}}" class="form-control" id="Item">
                          </div> -->
                          <div class="mb-3">
                              <label for="Item" class="form-label"><strong>UserName</strong> </label>
                              <input type="text" name="uname" value="{{user.uname}}" class="form-control" id="Item">
                            </div>
                          <div class="mb-3">
                              <label for="Item" class="form-label"><strong>Email Address</strong> </label>
                              <input type="email" name="email" value="{{user.email}}" class="form-control" id="Item">
                            </div>
                          <div class="mb-3">
                              <label for="Item" class="form-label"><strong>Whatsapp Number</strong> </label>
                              <input type="tel"  name="wapp" value="{{user.whatsapp}}" class="form-control" id="Item">
                            </div>
                            <div class="mb-3">
                              <label for="Item" class="form-label"><strong>Telegram</strong> </label>
                              <input type="text" name="tgram" value="{{user.tgram}}" class="form-control" id="Item">
                            </div>
                            <div class="mb-3">
                              <label for="Item" class="form-label"><strong>Instagram</strong> </label>
                              <input type="text" name="igram" value="{{user.igram}}" class="form-control" id="Item">
                            </div>
                          <div class="mb-3 form-check">                                             
                            <button type="submit" style="width: 300px;" class="btn btn-primary" data-bs-target="tbl1">Edit Details</button>
                            <button type="button" class="btn mt-2 btn-dark" data-bs-dismiss="modal">Close</button>
                          </div>
                      </form>
              </div>
            </div>
          </div>
         </td>
         <td>
           <a  style="color: darkcyan;" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#deleteModal{{user.id}}"><img src="/static/delete.png" alt="" srcset=""></a>
             <!-- Modal -->
             <div class="modal fade" id="deleteModal{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="background: rgb(54, 54, 53);">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                  <form action="delete" method="POST">
                    <div class="mb-3">
                      <input type="hidden" name="id"  value="{{user.id}}" class="form-control" id="Item">
                    </div>
                    <div class="mb-3">
                      <input type="hidden" name="usr"  value="{{current_user.uname}}" class="form-control" id="Item">
                    </div>
                    <label for="Item" class="form-label"><strong>Name</strong></label>
                    <div class="mb-3">
                      <input type="text" name="name" disabled  value=" {{user.fname}}  {{user.lname}}" class="form-control" id="Item">
                    </div>
                    <label for="Item" class="form-label"><strong>Designation</strong></label>
                    <div class="mb-3">
                      <input type="text" name="name" disabled  value=" {{user.designation}}" class="form-control" id="Item">
                    </div>
                    <div class="mb-3">
                      <label for="Item" class="form-label"><strong>Password</strong></label>
                      <input type="password" name="passw"  class="form-control" id="Item">
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">Delete</button>
                  </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
         </td>
         </tr>
         {% endfor %}
       </tbody>
     </table>
  </div>
</div>
</div>
</div>
{% else%}
<div class="top">
  <p><h2>You can't access this page!</h2></p>
</div>
{% endif %}
{% endblock %}

{% block footer%}
{% endblock%}
